*{
    box-sizing: border-box;
    margin: 0;
}
:root {
    /* Colors */
    --background-color: #4527a0;
    --normal-color: #d05ce3;
    --primary-color: #ffeb3b;
    --secondary-color : #00e5ff;
    --light-color : skyblue;

    /* Font */
    --font-size : 62.5%; /* 10px */
    --font-weight : inherit
}
h1,h2{
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}
body,h1,h2,ol,p{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
/* Components */
body
{
    font-size: 1.4rem;
    background-color:var(--background-color);
    color: var(--normal-color);
}
/* Layouts */
.wrapper{
    margin: 0 auto;
    height: 100vh;
    width: 960px;
    padding: 0 2rem;
}

/* header */
.header{
    display: flex;
    padding: 2rem 0;
    align-items: center;
}
.header-title{
    font-size: 5rem;
    font-family: 'Cantora One', sans-serif;
    line-height: 1;
    color: var(--secondary-color)
}
.header-title strong{
    display: block;
    color: var(--primary-color);
}
.header-desc{
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 2rem;
}
.header-desc::before{
    content: ' ';
    width: 2em;
    height: 2px;
    margin: 0 2em;
    background-color: currentColor;
}
/* parts */
.timeline{
    width: 100%;
}
.timeline li{
    background-color: rgba(0, 0, 0, 0.2);
}
.timeline li:nth-of-type(even){
    border-radius: 4px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
}
.parts{
    padding: 2rem 0;
    display: flex;
    align-items: center;
}
.parts-times{
    width: 200px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    color: var(--light-color);
}
.parts-times span{
    margin: 0 0.2em;
}
.parts-contents{
    display: flex;
    align-items: center;
}
.parts-profile{
    width: 80px;
    height: 80px;
    border-radius: 4px 50% 50% 4px;
}
.parts-agenda{
    padding: 0 2.4rem;
    font-size: 1.5rem;
}
.parts-agenda p{
    display: flex;
    align-items: center;
    margin:  8px 0;
    color: var(--secondary-color);
}
.parts-agenda h2{
    color: var(--primary-color);
    font-size: 2rem;
    line-height: 1.1;
}
.parts-role{
    display: flex;
    align-items: center;
    color: var(--normal-color);
}
.parts-role::before {
    content: ' ';
    width: 0.4em;
    height: 0.4em;
    margin: 0 0.6em;
    border-radius: 50%;
    background-color: currentColor;
}


@media screen and (max-width:720px){
   /* header */
    .header {
        display: block;
    }
    .header-desc{
        display: block;
    }
    .header-desc::before{
        display: block;
        margin: 2rem 0;
    }
    /* timeline */
    .parts-times{
        flex-direction: column;
        align-items: center;
    }
}